@{
    ViewBag.Title = "Contact";
}
<h1 style="font-size:26px; font-weight:800;">Have a question? Contact Us!</h1>

<hr>

<address style="font-size: 18px">
    208 North Laura Street, 10th Floor <br>
    Jacksonville, FL 32202 <br>
    P: 800.833.0091 <br><br>

    <strong>Support:</strong>   <a href="mailto:support@f23.com">support@f23.com</a><br />
</address>