@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1 style="font-size:26px; font-weight:800; padding-left: 30%">Your Product Lifecycle Services Partner</></h1>
    <br>
</div>

<div class="container">
    
    <div>
        <img src="~/Content/Images/ProductLogo.png" style="padding: 5% 25px 15% 0; float: left">
        <p class="lead">
            feature[23]<font size="1px">&#174</font> is an advanced delivery system — <em>invested in client success</em> — bridging the gap between business acumen, deep technical knowledge,
            cross-industry product innovation, and design-led software engineering leadership.
        </p>


        <p class="lead">
            No matter the challenge, we are a partner, sharing risk and bringing differentiated value, capabilities, and unique insights to serve clients
            of all sizes. We help you transform by tailoring leading-edge technology into valuable digital services, products, and brand experiences that
            deliver desired business outcomes.
        </p>

        <p class="lead">
            Our clients receive unmatched value by full access to our creative teams, an exceptionally different approach, and cross-functional technology
            experience. This value is further strengthened by your new capabilities and customized solutions, and the talent we bring into simplifying your
            most complex challenges and solving your mission critical issues.
        </p>

        <p class="lead">
            Our focus is always on delivering practical and enduring results, accelerated value-to-market, and equipping our clients to lead the future.
        </p>
    </div>
</div>
